@charset "UTF-8";
.vignette {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 11;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 45%, rgba(0, 0, 0, 0.5) 95%);
  transition: opacity 1s ease;
  opacity: 0.5;
}

@keyframes random-fade {
  0% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.35;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.55;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.4;
  }
}
.grain {
  position: fixed;
  height: 200vh;
  width: 200vw;
  top: -50%;
  left: -50%;
  pointer-events: none;
  opacity: 0.8;
  background-image: url(../assets/noise.png);
}

.grain.active {
  animation: grain 4s steps(6) infinite;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}
/* ============== */
/* 📝 MENU STYLES */
#menu-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

#menu {
  margin-top: 10px;
  height: min(15vmin, 75px);
  pointer-events: auto;
}

.menu-btn {
  cursor: pointer;
  fill: rgba(0, 0, 0, 0);
  transition: fill 0.5s ease;
}

.menu-btn:hover {
  animation: menu-btn-pulse 1s ease infinite;
}

@media screen and (max-width: 425px) {
  .menu-btn:hover {
    animation: none;
  }
}
@keyframes menu-btn-pulse {
  0%, 100% {
    fill: rgba(0, 0, 0, 0);
  }
  50% {
    fill: rgba(79, 119, 45, 0.25);
  }
}
#indicator {
  r: 17px;
  cy: 52px;
  transition: cx 0.5s ease;
}

#indicator.home {
  cx: 83px;
  animation: squeeze-a 0.5s ease forwards;
}

#indicator.freelance {
  cx: 202px;
  animation: squeeze-b 0.5s ease forwards;
}

#indicator.projects {
  cx: 322px;
  animation: squeeze-c 0.5s ease forwards;
}

#indicator.contact {
  cx: 442px;
  animation: squeeze-d 0.5s ease forwards;
}

.firefox-fix #indicator.home {
  cx: 83.5px;
}
.firefox-fix #indicator.freelance {
  cx: 202.5px;
}
.firefox-fix #indicator.projects {
  cx: 322.5px;
}
.firefox-fix #indicator.contact {
  cx: 442.5px;
}

/* * All four of the following animations are
 * * the same, but we give them different names
 * * so that when the class is changed the animation
 * * runs again.
 * */
@keyframes squeeze-a {
  0% {
    r: 17px;
    filter: none;
  }
  20% {
    r: 4px;
  }
  50% {
    r: 2px;
    filter: blur(2px);
  }
  80% {
    r: 4px;
  }
  100% {
    r: 17px;
    filter: none;
  }
}
@keyframes squeeze-b {
  0% {
    r: 17px;
    filter: none;
  }
  20% {
    r: 4px;
  }
  50% {
    r: 2px;
    filter: blur(2px);
  }
  80% {
    r: 4px;
  }
  100% {
    r: 17px;
    filter: none;
  }
}
@keyframes squeeze-c {
  0% {
    r: 17px;
    filter: none;
  }
  20% {
    r: 4px;
  }
  50% {
    r: 2px;
    filter: blur(2px);
  }
  80% {
    r: 4px;
  }
  100% {
    r: 17px;
    filter: none;
  }
}
@keyframes squeeze-d {
  0% {
    r: 17px;
    filter: none;
  }
  20% {
    r: 4px;
  }
  50% {
    r: 2px;
    filter: blur(2px);
  }
  80% {
    r: 4px;
  }
  100% {
    r: 17px;
    filter: none;
  }
}
/* END MENU STYLES */
/* =============== */
html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body, input, textarea {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

::selection {
  background-color: rgba(79, 119, 45, 0.35);
  color: white;
}

p, .title.small {
  margin: 0;
  font-size: 16px;
}

hr {
  border-color: #BECE7A;
}

a:focus, .clickable:focus {
  outline: 1px solid #4F772D;
  border-radius: 5px;
}

p:focus {
  outline: none !important;
}

.client-icon:focus, .icon-button:focus {
  scroll-margin: 40vmin 0;
}

.title.clickable:focus {
  scroll-margin-top: 30vmin;
  scroll-margin-bottom: 60vmin;
}

.clickable {
  cursor: pointer;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.title, .subtitle {
  font-family: "Rampart One", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.title {
  font-size: 40px;
  background: linear-gradient(1deg, #90A955 40%, #4F772D 60%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  text-fill-color: transparent;
}

.title.clickable:not(.small),
.title.clickable::before, .title.clickable::after {
  background: linear-gradient(1deg, #4F772D 40%, #BECE7A 60%, #4F772D 80%);
  background-size: 100% 200%;
  animation: glint 5s linear infinite;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  text-fill-color: transparent;
}

.title.clickable {
  position: relative;
  outline: none !important;
}

.title.clickable::before, .title.clickable::after {
  content: "> ";
  position: absolute;
  transform: translateY(-0.1em);
  line-height: initial;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.25s ease, left 0.25s ease, right 0.25s ease;
}

.title.clickable:hover::before,
.title.clickable:focus::before {
  left: -1em;
  opacity: 1;
}

.title.clickable:hover::after,
.title.clickable:focus::after {
  right: -1em;
  opacity: 1;
}

.title.clickable::after {
  transform: translateY(-0.1em) scaleX(-1);
}

.title.clickable.small {
  border-bottom: 1px solid transparent;
  border-radius: 0.2em;
  transition: border 0.5s ease;
}

.title.clickable.small:hover,
.title.clickable.small:focus {
  border-bottom: 1px solid #90A955;
}

.title.clickable.small::before, .title.clickable.small::after {
  display: none;
}

.title.line-height-fix {
  line-height: 0.75em;
}

.title.line-height-fix + p {
  margin-top: 5px;
}

.title.clickable.line-height-fix:hover::before, .title.clickable.line-height-fix:hover::after {
  line-height: 1em;
  top: 0;
  transform: translateY(0.1em);
}

.title.clickable.line-height-fix:hover::after {
  transform: translateY(0.1em) scaleX(-1);
}

.title.long-version {
  line-height: 1em;
  margin-bottom: 0.2em;
}

@keyframes glint {
  0%, 10% {
    background-position: top;
  }
  50%, 60% {
    background-position: center;
  }
  100% {
    background-position: top;
  }
}
.subtitle {
  font-size: 20px;
  color: gray;
}

.section-break {
  position: relative;
  height: 10vh;
}

.icon-button {
  width: min(120px, 20vw);
  height: min(120px, 20vw);
  padding: 10px 10px 8px;
  margin: 5px;
  border-radius: 7.5px;
  border: 1px solid #90A955;
  transition: border 0.2s ease, border-radius 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1254901961);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-button:hover {
  border-color: #4F772D;
  border-radius: 8px;
  content: var(--hover-src);
  transform: scale(0.975);
  background-color: rgba(255, 255, 255, 0.6274509804);
}

.icon-button > img {
  flex: 1;
}

.icon-button > .label {
  font-weight: 300;
  margin-top: 2px;
  color: #90A955;
  font-size: calc(min(120px, 20vw) / 6);
  transition: color 0.2s ease;
}

.icon-button:hover > .label {
  color: #4F772D;
}

#intro-section {
  margin-top: 40vh;
  margin-bottom: 30vh;
}

#intro-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 5vw;
}

/* =================== */
/* ✨ PARALLAX SECTION */
#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 10vh 0;
  transform-style: preserve-3d;
}

.parallax-anchor, .parallax-content {
  max-width: 35vw;
  max-height: 50vh;
}

.parallax-content {
  z-index: 1;
  transform: translate3d(-8vw, 0, 5px) scale(0.5);
}

.parallax-content.inverse {
  transform: translate3d(8vw, 0, 5px) scale(0.5);
}

/* END PARALLAX SECTION */
/* ==================== */
/* ========== */
/* FORM ITEMS */
.form-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px;
  flex: 1;
}

.form-item > .form-item-label {
  position: absolute;
  align-items: center;
  display: flex;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  transition: left 0.25s ease, top 0.25s ease;
}

.form-item > .form-item-label > p {
  font-size: 14px;
  white-space: nowrap;
  margin-right: 0.25em;
  display: inline;
  transition: font-size 0.25s ease;
  pointer-events: none;
}

.form-item.required > .form-item-label > p::after {
  content: " *";
  color: var(--error-red);
}

.form-item.date > .form-item-label,
.form-item.has-content:not(.checkbox) > .form-item-label,
.form-item:not(.checkbox):focus-within > .form-item-label {
  top: 0;
  left: 0;
  align-items: unset;
}

.form-item.date > .form-item-label > p,
.form-item.has-content:not(.checkbox) > .form-item-label > p,
.form-item:not(.checkbox):focus-within > .form-item-label > p {
  font-size: 10px;
}

.form-item.checkbox > .form-item-label {
  position: relative;
  top: unset;
  left: unset;
  transform: unset;
}

.form-item.checkbox {
  flex: unset;
}

.form-item.checkbox input {
  accent-color: var(--main-color);
}

.form-field {
  background: none;
  border: none;
  padding: 1em;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
  font-weight: 400;
  color: black;
  transition: background-color 0.25s ease;
  width: 100%;
}

.form-item.has-content > .form-field,
.form-field:focus-within {
  outline: none;
  border-bottom: 2px solid var(--main-color);
  padding-bottom: calc(1em - 1px);
  /* to account for the larger border */
}

.form-field:focus-within {
  background-color: rgba(0, 0, 0, 0.0117647059);
}

/* END FORM ITEMS */
/* ============== */
/* ======================= */
/* DYNAMIC ITEM SECTION 💨 */
.dynamic-item {
  opacity: 0;
  transform: translateX(-30%);
  transition: opacity 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.dynamic-item.inverse {
  transform: translateX(30%);
}

.dynamic-item.shown {
  opacity: 1;
  transform: none;
}

/* END DYNAMIC ITEM SECTION */
/* ======================== */
/* ==================== */
/* 🌱 PLANT DECORATIONS */
.branch-decoration {
  position: absolute;
  max-width: 50vw;
  z-index: -1;
  left: 0;
}

.branch-decoration.inverse {
  left: unset;
  right: 0;
  transform: scaleX(-1);
}

.plant-decoration, .falling-decoration {
  position: absolute;
}

.plant-decoration:not(.clickable) {
  pointer-events: none;
}

.plant-decoration {
  max-width: 15vmin;
  max-height: 12.5vmin;
}

.plant-decoration.long {
  max-height: 40vmin;
}

.plant-decoration.right {
  right: 0;
}

.plant-decoration.left {
  left: 0;
}

.plant-decoration.top {
  top: 0;
}

.plant-decoration.bottom {
  bottom: 0;
}

#vine-1 {
  left: 17.5vw;
}

#plant-1 {
  top: 1vmin;
}

#back-to-top-btn:hover {
  content: url(../assets/svg/back-to-top_hover.svg);
}

.falling-decoration {
  height: min(4vw, 25px);
  right: var(--position);
  animation: fall 8s ease forwards, fade-and-turn var(--duration) linear forwards;
}

@keyframes fall {
  0% {
    top: 0;
  }
  100% {
    top: 100vh;
  }
}
@keyframes fade-and-turn {
  100% {
    transform: rotate(4turn) scale(0.5);
    opacity: 0;
  }
}
/* END PLANT DECORATIONS */
/* ===================== */
/* ================ */
/* 🦶 FOOTER STYLES */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30vh 10vw 10vh 10vw;
}

#footer {
  pointer-events: none;
}

.footer-row, .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  pointer-events: auto;
}

.footer-row {
  color: #c6c8c2;
  font-weight: 300;
}

/* END FOOTER STYLES */
/* ================= */
/* ======================== */
/* 💸 CLIENT PREVIEW STYLES */
.hr {
  width: 100%;
  height: 1px;
  background-color: #cfd1c9;
  margin: 2em 0;
}

.client-icon {
  position: absolute;
  left: 0;
  margin: 0 10px;
  filter: grayscale(1);
  border: 1px solid transparent;
  transition: filter 0.5s ease, border 0.5s ease, background 0.5s ease, border-radius 0.5s ease;
  animation: scroll 35s linear infinite, edge-fade 35s linear infinite;
  animation-delay: calc(var(--order) * -4400ms);
  left: 50%;
}

.client-icon:focus {
  background-color: rgba(0, 0, 0, 0.0666666667);
  border-color: rgba(0, 0, 0, 0.1333333333);
  outline: none !important;
}

.client-icon:hover {
  filter: none;
}

.client-icon img {
  width: min(10vw, 200px);
}

@keyframes scroll {
  0% {
    transform: translateX(calc(-50% - 45vw));
  }
  100% {
    transform: translateX(calc(-50% + 45vw));
  }
}
@keyframes edge-fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#client-scroll {
  position: relative;
  height: min(10vw, 200px);
}

.client-tip {
  font-weight: 300;
  opacity: 0;
  color: #c6c8c2;
  text-align: center;
  margin: 0 10%;
}

.client-tip.shown {
  animation: fade-in 2s forwards;
  animation-delay: calc(var(--delay, 4) * 1s);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* END CLIENT PREVIEW STYLES */
/* ========================= */
/* ================ */
/* 🔄 LOADER STYLEs */
#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.6666666667);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  transition: opacity 1s ease, visibility 1s ease, backdrop-filter 1s ease;
}

#loader {
  width: 60vw;
}

#loader-container.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* END LOADER STYLES */
/* ================= */
/* ==================== */
/* 📜 CUSTOM SCROLLBAR */
/* END CUSTOM SCROLLBAR */
/* ==================== */
.hidden {
  display: none;
}

.short-version {
  display: none;
}

@media screen and (max-width: 1024px) {
  .parallax-content {
    max-height: 30vh;
  }
  .long-version {
    display: none;
  }
  .short-version {
    display: block;
  }
  .section-break {
    height: 15vh;
  }
  #plant-1 {
    top: 20vmin;
    max-width: 15vmin;
  }
  #vine-1 {
    left: 0;
  }
  .plant-decoration {
    max-height: 17.5vmin;
  }
}
@media screen and (max-width: 768px) {
  .parallax-anchor {
    max-width: 50vw;
    margin-left: -5vw;
  }
  .parallax-anchor.inverse {
    margin-left: 0;
    margin-right: -5vw;
  }
  .parallax-content {
    max-width: 35vw;
  }
  .title {
    font-size: 30px;
  }
  .title.tiny-width-fix {
    font-size: 26px;
  }
  p, .title.small {
    font-size: 14px;
  }
  #loader {
    width: 85vw;
  }
  #plant-1 {
    top: 25vmin;
    content: url(../assets/svg/misc-plants-2.svg);
  }
  .mobile-vertical-fix {
    transform: translateY(30vh);
  }
  .branch-decoration {
    max-width: 60vw;
  }
  #back-to-top-btn {
    max-width: 40vmin;
    max-height: 190px;
  }
  .client-tip {
    font-size: 16px;
  }
  #intro-section {
    margin-top: 35vh;
    margin-bottom: 20vh;
    flex-direction: column-reverse;
  }
  #intro-buttons {
    margin-right: 0;
    margin-top: 2.5vh;
  }
  #intro-section > .parallax-anchor {
    max-width: 80vw;
  }
}
@media screen and (max-width: 425px) {
  .title {
    font-size: 25px;
  }
  p, .title.small {
    font-size: 12px;
  }
  .title.tiny-width-fix {
    font-size: 22px;
  }
  .parallax-content.inverse.tiny-width-fix {
    max-width: 45vw;
    margin-left: 2vw;
    margin-right: -3vw;
  }
  .plant-decoration.left.long.tiny-width-fix {
    bottom: 20vmin;
  }
  #back-to-top-btn {
    max-width: 30vmin;
  }
  .client-tip {
    font-size: 12px;
  }
  .container {
    padding: 30vh 5vw 10vh 5vw;
  }
  #intro-section {
    margin-top: 30vh;
    margin-bottom: 15vh;
  }
}
@media screen and (max-width: 362px) {
  .parallax-content.inverse.tiny-width-fix {
    max-width: 55vw;
    margin-left: 2vw;
    margin-right: -5vw;
  }
  p.tiny-width-fix {
    width: 90%;
  }
  .title.tiny-width-fix {
    font-size: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
