@use 'misc'

@mixin vendor-prefix($name, $value)
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '')
    #{$vendor}#{$name}: #{$value}

html
  scroll-behavior: smooth
  overscroll-behavior: none

body, input, textarea
  margin: 0
  font-family: 'Poppins', sans-serif

body
  height: 100vh
  overflow: hidden

$dark-color: #31572C
$main-color: #4F772D
$light-color: #90A955
$highlight-color: #BECE7A

::selection
  background-color: rgba($main-color, .35)
  color: white

p, .title.small
  margin: 0
  font-size: 16px

hr
  border-color: $highlight-color

a:focus, .clickable:focus
  outline: 1px solid $main-color
  border-radius: 5px

p:focus
  outline: none !important

.client-icon:focus, .icon-button:focus
  scroll-margin: 40vmin 0

.title.clickable:focus
  scroll-margin-top: 30vmin
  scroll-margin-bottom: 60vmin

// a, .clickable
.clickable
  cursor: pointer

img
  user-select: none
  @include vendor-prefix('user-drag', 'none')

.title, .subtitle
  font-family: 'Rampart One', sans-serif
  text-transform: uppercase
  text-decoration: none

.title
  font-size: 40px
  background: linear-gradient(1deg, $light-color 40%, $main-color 60%)

  @include vendor-prefix('background-clip', 'text')
  @include vendor-prefix('text-fill-color', 'transparent')

// Clickable Title Styles
.title.clickable:not(.small),
.title.clickable::before, .title.clickable::after
  background: linear-gradient(1deg, $main-color 40%, $highlight-color 60%, $main-color 80%)
  background-size: 100% 200%

  animation: glint 5s linear infinite
  @include vendor-prefix('background-clip', 'text')
  @include vendor-prefix('text-fill-color', 'transparent')

// .title.clickable:hover, .title.clickable:focus
.title.clickable
  position: relative
  outline: none !important

.title.clickable::before, .title.clickable::after
  content: "> "
  position: absolute
  transform: translateY(-0.1em)
  line-height: initial
  left: 0
  right: 0
  opacity: 0
  transition: opacity 0.25s ease, left 0.25s ease, right 0.25s ease

.title.clickable::before
  top: 0
.title.clickable::after
  bottom: 0

.title.clickable:hover::before,
.title.clickable:focus::before
  left: -1em
  opacity: 1

.title.clickable:hover::after,
.title.clickable:focus::after
  right: -1em
  opacity: 1

.title.clickable::after
  transform: translateY(-0.1em) scaleX(-1)
// End Clickable Title

// Small Clickable Title
.title.clickable.small
  border-bottom: 1px solid transparent
  border-radius: 0.2em
  transition: border 0.5s ease

.title.clickable.small:hover,
.title.clickable.small:focus
  border-bottom: 1px solid $light-color

.title.clickable.small::before, .title.clickable.small::after
  display: none
// End Small Clickable Title

// Line Height Fix
.title.line-height-fix
  line-height: 0.75em

.title.line-height-fix + p
  margin-top: 5px

// .title.clickable.line-height-fix:hover::before, .title.clickable.line-height-fix:hover::after
//   line-height: 1em
//   top: 0
//   transform: translateY(0.1em)

// .title.clickable.line-height-fix:hover::after
//   transform: translateY(0.1em) scaleX(-1)
// End Line Height Fix

.title.long-version
  line-height: 1em
  margin-bottom: 0.2em

@keyframes glint
  0%, 10%
    background-position: top
  50%, 60%
    background-position: center
  100%
    background-position: top

.subtitle
  font-size: 20px
  color: gray

.section-break
  position: relative
  height: 10vh

$btn-size: min(120px, 20vw)

.icon-button
  width: $btn-size
  height: $btn-size
  padding: 10px 10px 8px
  margin: 5px

  border-radius: 7.5px
  border: 1px solid $light-color
  transition: 0.2s ease
  text-decoration: none
  background-color: #ffffff20

  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden

.icon-button:focus,
.icon-button:hover
  padding: 10px 10px 8px
  border-color: $main-color
  border-radius: 8px
  content: var(--hover-src)
  transform: scale(0.975)
  background-color: #ffffffa0
  outline: none !important

.icon-button > img
  margin: 0 10px
  flex: 1

.icon-button > .label
  font-weight: 300
  margin-top: 2px
  color: $light-color
  font-size: calc($btn-size / 6)
  transition: 0.2s ease
  max-height: 0
  opacity: 0

.icon-button:focus > .label,
.icon-button:hover > .label
  color: $main-color
  max-height: 1.5em
  opacity: 1

@media (pointer: none)
@media (hover: none)
  .icon-button>.label
    color: $main-color
    max-height: 1.5em
    opacity: 1

#intro-section
  margin-top: 40vh
  margin-bottom: 30vh

#intro-buttons
  display: flex
  flex-direction: row
  justify-content: center
  margin-right: 5vw

/* =================== */
/* ✨ PARALLAX SECTION */
#wrapper
  height: 100vh
  overflow-y: auto
  overflow-x: hidden
  perspective: 10px

.parallax-section
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  position: relative

  width: 100%
  margin: 10vh 0
  transform-style: preserve-3d

.parallax-anchor, .parallax-content
  max-width: 35vw
  max-height: 50vh

.parallax-content
  z-index: 1
  transform: translate3d(-8vw, 0, 5px) scale(0.5)

.parallax-content.inverse
  transform: translate3d(8vw, 0, 5px) scale(0.5)
/* END PARALLAX SECTION */
/* ==================== */

/* ========== */
/* FORM ITEMS */
.form-item
  position: relative
  display: flex
  flex-direction: row
  align-items: center
  margin: 10px 10px
  flex: 1

.form-item>.form-item-label
  position: absolute
  align-items: center
  display: flex
  top: 50%
  left: 1em
  transform: translateY(-50%)
  transition: left 0.25s ease, top 0.25s ease

.form-item>.form-item-label>p
  font-size: 14px
  white-space: nowrap
  margin-right: .25em
  display: inline
  transition: font-size 0.25s ease
  pointer-events: none

.form-item.required>.form-item-label>p::after
  content: " *"
  color: var(--error-red)

.form-item.date>.form-item-label,
.form-item.has-content:not(.checkbox)>.form-item-label,
.form-item:not(.checkbox):focus-within>.form-item-label
  top: 0
  left: 0
  align-items: unset

.form-item.date>.form-item-label>p,
.form-item.has-content:not(.checkbox)>.form-item-label>p,
.form-item:not(.checkbox):focus-within>.form-item-label>p
  font-size: 10px

.form-item.checkbox>.form-item-label
  position: relative
  top: unset
  left: unset
  transform: unset

.form-item.checkbox
  flex: unset

.form-item.checkbox input
  accent-color: var(--main-color)

.form-field
  background: none
  border: none
  padding: 1em
  border-bottom: 1px solid var(--border-color)
  color: var(--text-color)
  font-weight: 400
  color: black
  transition: background-color 0.25s ease
  width: 100%

.form-item.has-content>.form-field,
.form-field:focus-within
  outline: none
  border-bottom: 2px solid var(--main-color)
  padding-bottom: calc(1em - 1px)
  /* to account for the larger border */

.form-field:focus-within
  background-color: #00000003

/* END FORM ITEMS */
/* ============== */

/* ======================= */
/* DYNAMIC ITEM SECTION 💨 */
$cubic-ease-out: cubic-bezier(.22,.61,.36,1)

.dynamic-item
  opacity: 0
  transform: translateX(-30%)
  // transition: opacity 0.4s ease-out, transform 0.4s ease-out
  transition: opacity 0.4s $cubic-ease-out, transform 0.4s $cubic-ease-out

.dynamic-item.inverse
  transform: translateX(30%)

.dynamic-item.shown
  opacity: 1
  transform: none
/* END DYNAMIC ITEM SECTION */
/* ======================== */

/* ==================== */
/* 🌱 PLANT DECORATIONS */
.branch-decoration
  position: absolute
  max-width: 50vw
  z-index: -1
  left: 0

.branch-decoration.inverse
  left: unset
  right: 0
  transform: scaleX(-1)

.plant-decoration, .falling-decoration
  position: absolute

.plant-decoration:not(.clickable)
  pointer-events: none

.plant-decoration
  max-width: 15vmin
  max-height: 12.5vmin

.plant-decoration.long
  max-height: 40vmin

.plant-decoration.right
  right: 0

.plant-decoration.left
  left: 0

.plant-decoration.top
  top: 0

.plant-decoration.bottom
  bottom: 0

#vine-1
  left: 17.5vw

#plant-1
  top: 1vmin

#back-to-top-btn:hover
  content: url(../assets/svg/back-to-top_hover.svg)

.falling-decoration
  height: min(4vw, 25px)
  right: var(--position)
  animation: fall 8s ease forwards, fade-and-turn var(--duration) linear forwards

@keyframes fall
  0%
    top: 0
  100%
    top: 100vh

@keyframes fade-and-turn
  100%
    transform: rotate(4turn) scale(0.5)
    opacity: 0
/* END PLANT DECORATIONS */
/* ===================== */

/* ================ */
/* 🦶 FOOTER STYLES */
.container
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 30vh 10vw 10vh 10vw

#footer
  pointer-events: none

.footer-row, .row
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  position: relative
  width: 100%
  pointer-events: auto

.footer-row
  color: #c6c8c2
  font-weight: 300
/* END FOOTER STYLES */
/* ================= */

/* ======================== */
/* 💸 CLIENT PREVIEW STYLES */
.hr
  width: 100%
  height: 1px
  background-color: #cfd1c9
  margin: 2em 0

$icon-size: min(10vw, 200px)

.client-icon
  position: absolute
  left: 0
  margin: 0 10px
  filter: grayscale(1)
  border: 1px solid transparent
  transition: filter 0.5s ease, border 0.5s ease, background 0.5s ease, border-radius 0.5s ease
  animation: scroll 35s linear infinite, edge-fade 35s linear infinite
  animation-delay: calc(var(--order) * -4435ms)
  // transform: translateX(-50%)
  left: 50%

.client-icon:focus
  background-color: #00000011
  border-color: #00000022
  outline: none !important

.client-icon:hover
  filter: none

.client-icon img
  width: $icon-size

@keyframes scroll
  0%
    transform: translateX(calc(-50% - 45vw))
    // left: calc(0px - ($icon-size * 2))
  100%
    transform: translateX(calc(-50% + 45vw))
    // left: calc(100% + ($icon-size * 2))

@keyframes edge-fade
  0%
    opacity: 0
  5%
    opacity: 0
  20%
    opacity: 1
  80%
    opacity: 1
  95%
    opacity: 0
  100%
    opacity: 0

#client-scroll
  position: relative
  height: $icon-size

.client-tip
  font-weight: 300
  opacity: 0
  color: #c6c8c2
  text-align: center
  margin: 0 10%

.client-tip.shown
  animation: fade-in 2s forwards
  animation-delay: calc(var(--delay, 4) * 1s)

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1
/* END CLIENT PREVIEW STYLES */
/* ========================= */

/* ================ */
/* 🔄 LOADER STYLEs */
#loader-container
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 6
  background-color: #000000aa
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  backdrop-filter: blur(3px)
  transition: opacity 1s ease, visibility 1s ease, backdrop-filter 1s ease

#loader
  width: 60vw

#loader-container.loaded
  opacity: 0
  visibility: hidden
  pointer-events: none
/* END LOADER STYLES */
/* ================= */

/* ==================== */
/* 📜 CUSTOM SCROLLBAR */
// @media screen and (min-width: 768px)
//   ::-webkit-scrollbar // Width
//     width: 12px

//   ::-webkit-scrollbar-track // Track
//     background: #70904130
//     // background: none

//   ::-webkit-scrollbar-thumb // Handle
//     background: #31572C
//     border-radius: 6px

//   ::-webkit-scrollbar-thumb:hover // Handle:hover
//     background: #224120
/* END CUSTOM SCROLLBAR */
/* ==================== */

.hidden
  display: none

// When an element won't work well on both desktop and mobile
// views, put two elements and give the desktop version class
// of .long-version, and the mobile version .short-version

@media screen and (min-width: 1025px)
  .short-version
    display: none

@media screen and (max-width: 1024px)
  .long-version
    display: none

  .parallax-content
    max-height: 30vh

  .section-break
    height: 15vh

  #plant-1
    top: 20vmin
    max-width: 15vmin

  #vine-1
    left: 0

  .plant-decoration
    max-height: 17.5vmin

@media screen and (max-width: 768px)
  .parallax-anchor
    max-width: 50vw
    margin-left: -5vw

  .parallax-anchor.inverse
    margin-left: 0
    margin-right: -5vw

  .parallax-content
    max-width: 35vw

  .title
    font-size: 30px

  .title.tiny-width-fix
    font-size: 26px

  p, .title.small
    font-size: 14px

  #loader
    width: 85vw

  #plant-1
    top: 25vmin
    content: url(../assets/svg/misc-plants-2.svg)

  .mobile-vertical-fix
    transform: translateY(30vh)

  .branch-decoration
    max-width: 60vw

  #back-to-top-btn
    max-width: 40vmin
    max-height: 190px

  .client-tip
    font-size: 16px

  #intro-section
    margin-top: 35vh
    margin-bottom: 20vh
    flex-direction: column-reverse

  #intro-buttons
    margin-right: 0
    margin-top: 2.5vh

  #intro-section>.parallax-anchor
    max-width: 80vw

@media screen and (max-width: 425px)
  .title
    font-size: 25px

  p, .title.small
    font-size: 12px

  .title.tiny-width-fix
    font-size: 22px

  // may need to add a non inverse version
  .parallax-content.inverse.tiny-width-fix
    max-width: 45vw
    margin-left: 2vw
    margin-right: -3vw

  .plant-decoration.left.long.tiny-width-fix
    bottom: 20vmin

  #back-to-top-btn
    max-width: 30vmin

  .client-tip
    font-size: 12px

  .container
    padding: 30vh 5vw 10vh 5vw

  #intro-section
    margin-top: 30vh
    margin-bottom: 15vh

@media screen and (max-width: 362px)
  .parallax-content.inverse.tiny-width-fix
    max-width: 55vw
    margin-left: 2vw
    margin-right: -5vw

  p.tiny-width-fix
    width: 90%

  .title.tiny-width-fix
    font-size: 18px
